@model Lab_AWS.Models.Truck
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h3>Bạn có chắc muốn xóa thông tin xe?</h3>
<div>
    <h4>Xem lại thông tin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Biển số xe
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicensePlates)
        </dd>
      
        <dt class = "col-sm-2">
           Người phụ trách
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.staff.IdStaff)
        </dd>
        <dt class="col-sm-2">
            Trạng thái
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTruck" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Hủy bỏ</a>
    </form>
</div>
